/**
* COULEURS ?
* principale: #c14f49, rgb(193,79,73) : color description : Moderate red. 
* secondaire: #49c18b, rgb(73,193,139) : color description : Moderate cyan - lime green.
* alt secondaire: #49bbc1, rgb(73,187,193) : color description : Moderate cyan.
* textes:
*
*/

* {
    box-sizing: border-box;
}

:root { /* autrement dit html */
    font-size: 16px;
    --primary-color: #c14f49;
    --secondary-color: #49c18b;
    --secondary-alt-color: #49bbc1;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-flow: column nowrap; /* flex-direction et flex-wrap */
}

h1, h2, h3, h4 {
    font-family: 'Cormorant Unicase', serif;
}


/***
* HEADER
*/
header.header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

header.header-main.nav-active {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    width: 256px;
    height: 48px;
}

.logo img {
    max-height: 100%;
}

/***
* NAVIGATION HEADER
*/
.navigation {
    width: 100%;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.navigation.active {
    display: flex;
}

.navigation a {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
}
.navigation a:hover {
    font-weight: 600;
}

.navigation.active a {
    width: 100%;
    text-align: center;
}

.navigation-button {
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: 2px solid rgb(73,187,193);
    font-weight: 700;
    font-size: 1rem;
    align-self: flex-end;
}
/***
* FIN NAVIGATION HEADER
*/

@media (min-width: 839px) {
    header.header-main {
        display: flex;
        justify-content: space-between;
        padding: 8px 48px;
    }

    .navigation {
        width: calc(128px * 3);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-button {
        display: none;
    }
}
@media (min-width: 959px) {
    header.header-main {
        padding: 8px 64px;
    }
    
}
@media (min-width: 1023px) {
    header.header-main {
        padding: 8px 128px;
    }
}
@media (min-width: 1279px) {
    header.header-main {
        padding: 8px 256px;
    }
}
@media (min-width: 1439px) {
    header.header-main {
        /* padding: 8px 320px; */
    }
}
@media (min-width: 1599px) {
    header.header-main {
        padding: 8px 384px;
    }
}
/***
* FIN HEADER
*/
/***
* MAIN
*/
main.container-main {
    /* height: ; */
    /* padding: 0 128px; */
}

/***
* HERO SECTION MAIN
*/
.hero {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 0 8px;
    padding-top: 64px;
    position: relative;
    /* color: #f1f1f1; */
    text-shadow: 3px 3px 12px #000;
}

.hero::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/herobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: overlay; */
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    /* filter: grayscale(1); */
    filter: opacity(55%);
}

.hero h1 {
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
}

.hero h3 {
    margin: 4em 0 2em;
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.2rem;
    font-weight: 500;
}

.hero a {
    text-decoration: none;
    opacity: 0.6;
    color: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
}
/***
* FIN HERO SECTION MAIN
*/
/***
* TEAM SECTION MAIN
*/
.team {
    padding: 64px 8px;
}

.team h2 {
    margin: 0 0 3em;
    font-size: 1.8rem;
    text-align: center;
}

.team .teams {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.teams .team-profile {
    width: min-content;
    /* padding: 32px; */
    display: flex;
    flex-flow: column-reverse nowrap;
}

.team-profile h4 {
    font-size: 1.4rem;
}

.team-profile figure {
    margin: 0;
}

.team-profile figcaption {
    opacity: 0.6;
}

.team-profile figcaption a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
}

.team-profile span {
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    box-shadow: -12px -12px 2px 1px #49bbc1;
}
.team-profile span:hover {
    /* filter: grayscale(0); */
}

.team-profile img {
    max-width: 100%;
    width: 100%;
    filter: grayscale(1);
}

.team-profile:nth-child(3) img {
    max-width: 140%;
    width: 140%;
    margin-left: -20%;
}
/***
* FIN TEAM SECTION MAIN
*/
/***
* NEWS SECTION MAIN
*/
.news {
    padding: 64px 8px;
    background-image: linear-gradient(to top,#49c18b, transparent);
}

.news h2 {
    margin: 0 0 3em;
    font-size: 1.8rem;
    text-align: center;
}

.news .news-link {
    width: 100%;
    margin-top: 32px;
    display: inline-flex;
    justify-content: center;
}

.news .news-link a {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: 600; */
    color: inherit;
    border-bottom: 2px solid rgba(193,79,73,.3);
    transition: border-color 300ms ease;
}

.news .news-link a:hover {
    border-color: rgb(193,79,73);
    font-weight: 600;
}

.news .news-list {
    max-width: 90%;
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 12px -12px 2px 1px rgb(73,193,139);
}

.news-list .news-item {
    max-width: 100%;
}

.news-item .news-fig {
    margin: 0;
    filter: blur(3px);
    transition: filter 300ms ease;
}

.news-item:hover .news-fig {
    filter: blur(0px);
}

.news-item .news-fig img {
    max-width: 100%;
    width: 100%;
}

.news-item .news-title {

}

.news-item .news-desc {

}

.news-item .news-item-link {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    color: inherit;
    display: inline-block;
    border-bottom: 2px solid rgba(193,79,73,.3);
    transition: border-color 300ms ease;
}

.news-item .news-item-link:hover {
    border-color: rgb(193,79,73);
    font-weight: 600;
}

/***
* FIN NEWS SECTION MAIN
*/
/***
* CONTACT SECTION MAIN
*/
.contact {
    padding: 64px 8px;
    /* background-image: linear-gradient(to bottom, var(--secondary-color), transparent); */
}

.contact h2 {
    margin: 0 0 3em;
    font-size: 1.8rem;
    text-align: center;
}

.contact .contact-form {
    padding: 48px 0;
    border-radius: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--secondary-color);
}

.contact-form .contact-form-col {
    max-width: 480px;
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.contact-form label {
    font-weight: 600;
    font-size: 1.2rem;
}
.contact-form input {
    appearance: none;
    width: 100%;
    height: 2em;
    padding: 4px 6px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: rgba(241,241,241,.2);
    transition: border-color 300ms ease;
}
.contact-form input:hover {
    border-color: rgb(73,187,193);
}
.contact-form input:focus {
    background-color: rgb(241,241,241);
}
.contact-form textarea {
    appearance: none;
    width: 100%;
    padding: 4px 6px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: rgba(241,241,241,.2);
    transition: border-color 300ms ease;
}
.contact-form textarea:hover {
    border-color: rgb(73,187,193);
}
.contact-form textarea:focus {
    background-color: rgb(241,241,241);
}
.contact-form button {
    appearance: none;
    width: 156px;
    height: 48px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgba(193,79,73,.3);
    transition: all 300ms ease;
}
.contact-form button:hover {
    border-color: rgb(193,79,73);
}
.contact-form button:active {
    background-color: rgb(193,79,73);
}
.contact-form button svg {
    width: 1em;
    height: 1em;
    /* fill: var(--secondary-alt-color); */
}
/***
* FIN CONTACT SECTION MAIN
*/

@media (min-width: 599px) {
}
@media (min-width: 719px) {
    .team .teams {
        flex-flow: row wrap;
        justify-content: space-around;
    }
}
@media (min-width: 839px) {
    .hero {
        padding: 128px 48px 0;
    }

    .team {
        padding: 64px 48px;
    }
    .team .teams {
        justify-content: space-between;
    }

    .news {
        padding: 64px 48px;
    }

    .news .news-list {
        max-width: 100%;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .news-list .news-item {
        max-width: 256px;
    }

    .contact {
        padding: 64px 48px;
    }
}
@media (min-width: 959px) {
    .hero {
        padding: 128px 64px 0;
    }

    .team {
        padding: 64px;
    }

    .news {
        padding: 64px;
    }

    .contact {
        padding: 64px;
    }
}
@media (min-width: 1023px) {
    .hero {
        padding: 128px 128px 0;
    }

    .team {
        padding: 64px 128px;
    }

    .news {
        padding: 64px 128px;
    }

    .contact {
        padding: 64px 128px;
    }
}
@media (min-width: 1279px) {
    .hero {
        padding: 128px 256px 0;
    }

    .team {
        padding: 64px 256px;
    }

    .news {
        padding: 64px 256px;
    }

    .contact {
        padding: 64px 256px;
    }
}
/* @media (min-width: 1439px) {
    .hero {
        padding: 128px 320px 0;
    }
    .team {
        padding: 64px 320px;
    }
} */
@media (min-width: 1599px) {
    .hero {
        padding: 128px 384px 0;
    }
    .team {
        padding: 64px 384px;
    }
    .teams .team-profile {
        margin: 0 16px; 
    }

    .news-list .news-item {
        max-width: 320px;
    }

    .contact {
        padding: 64px 384px;
    }
}
@media (mix-width: 1600px) and (max-width: 1919) {
    .teams .team-profile {
        margin: 0 32px; 
    }
}
/***
* FIN MAIN
*/
/***
* FOOTER
*/
footer.footer-main {
    padding: 64px 8px;
    display: flex;
    justify-content: space-between;
}

.footer-main .footer-navigation {

}

.footer-navigation a {
    width: 156px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.footer-navigation a:hover {
    font-weight: 600;
}

.footer-main .footer-links {
    /* display: flex; */
}

.footer-links .footer-links-title {
    margin-top: 0;
}

.footer-links .footer-link {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    display: inline-block;
    opacity: 0.3;
}
@media (min-width: 719px) {}
@media (min-width: 839px) {
    footer.footer-main {
        padding: 64px 48px;
    }
}
@media (min-width: 959px) {
    footer.footer-main {
        padding: 64px;
    }
}
@media (min-width: 1023px) {
    footer.footer-main {
        padding: 64px 128px;
    }
}
@media (min-width: 1279px) {
    footer.footer-main {
        padding: 64px 256px;
    }
}
@media (min-width: 1599px) {
    footer.footer-main {
        padding: 64px 384px;
    }
}
/* @media (mix-width: 1600px) and (max-width: 1919) {} */
/***
* FIN FOOTER
*/
